.featured {
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: #013914;
  .container {
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      flex-direction: column;
      gap: 30px;
      h1 {
        font-size: 50px;
        color: white;
        font-weight: bold;

        i {
          font-weight: 300;
        }
      }

      .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-radius: 5px;
        .searchInput {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            height: 20px;
            width: 20px;
            object-fit: cover;
            margin: 10px;
          }
          input {
            border: none;
            outline: none;
          }
        }
        button {
          border: none;
          background-color: #1dbf73;
          color: white;
          width: 120px;
          height: 50px;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
          cursor: pointer;
        }
      }

      .popular {
        display: flex;
        gap: 10px;
        align-items: center;
        span {
          color: white;
        }
        button {
          background-color: transparent;
          border: 1px solid white;
          border-radius: 20px;
          padding: 5px 10px;
          color: white;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }

    .right {
      height: 100%;
      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
